SCALEKIT_ENVIRONMENT_URL=https://your-env.scalekit.cloud
SCALEKIT_CLIENT_ID=skc_your_client_id
SCALEKIT_CLIENT_SECRET=your_client_secret
SCALEKIT_IDENTIFIER=usr_8f3a2c
SCALEKIT_MCP_CONFIG_ID=
SCALEKIT_MCP_SERVER_URL=
SCALEKIT_MCP_SESSION_TOKEN=
